@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

main{
  margin-left: 3em;
  width:27em;

}

.new-shirt{
  margin-top: 2em;
  padding-top: 2em;
  float: left;
}

/*gets background back for floated elements this is a hack*/
nav::after {
  content: '';;
  display: block;
  clear: both;
}

section{
  border: 1px solid rgb(0,0,200);
  width: 27em;
}

nav{
    /*display: inline-block; */
    /*this does not work because things were floated
    we need the hack for floated*/
    width: 100%;
    /*border: 1px solid rgb(0,0,200);*/
    border-top: 1px solid rgb(0,0,200);
}


/*attached to fa-user-plus*/
.hidden-shirt-size{
    border: solid green;
    height: 12em;
    width:3em;
    margin-bottom: 4em;
    opacity: 0.3;
    padding: 0 20% 0 18%;
    list-style-type: none;
    position: absolute;;
    bottom: 0;
}
/*  stolen code to help with the click option
.click-button .click(function() {
  .click-button .removeClass('active');
  $( this ).addClass('active');
});

*/

/*hidden part for fa-square*/
.hidden-color{
    border: solid red;
    width:6em;
    opacity: 0.3;
    padding: 0;
    margin: 0 0 2em -9px;
    list-style-type: none;
    position: absolute;
    bottom: 2em;
}
.green{
  color: rgb(0, 200, 0);
}
.blue{
  color: rgb(0, 0, 200);
}

.red{
  color: rgb(255, 0, 0);
}

.yellow{
  color: rgb(200, 200, 20);
}


.hidden-color li{
  float: left;
  margin: .2em;
}

li:active {
  background-color: rgb(255, 0, 255);
}

/*.shirt-attributes: last-child{
  border-left: none;
} this is to remove the extra line from aside */


aside{
    border-left: 1px solid rgb(0,0,200);
    /*border-top: 1px solid rgb(0,0,200);*/
    /*border: 1px solid black;*/
    width: 19%;
    float:left;
    text-align: center;
    position: relative;
}

aside:active{
  background-color: rgb(255, 0, 0);
}

.bottom-header-price{
  width: 100%;
  margin: 0;
}

h1{
  float: right;
  text-align: right;
  padding: 0 1px 0 5px;
  margin: 0;
  border: 1px solid rgb(0, 200, 200);
}

h1:active {
    background-color: yellow;
    transform: rotate(90deg);
    transition-duration: 2s;
    image-orientation:
}
.blue-front:active{
  opacity: 0;
}

h1:active ~ .blue-front{
  transform: rotateY(45deg);
  transition: 2s ease;
  opacity: 0;
}

h1:active ~ .blue-back{
  transition: 3s ease;
  opacity: 1;
  transform: rotateY(0deg);
}

h2{
  text-align: left;
  float: left;
  margin:0;
}

h3{
  text-align: right;
  margin:0;
  float: right;

}

.blue-front{
  display: inline-block;
  padding: 1em 0 3em 2em;
}

.blue-back{
position: absolute;
opacity: 0;
padding: 1em 0 3em 2em;
transform: rotateY(45deg);

}

.fa-repeat{
  color: rgb(22,100,100);
  text-decoration: none;
  /*font-size: 3em;*/
}
/* this is the top icon to flip the image*/
.fa-repeat:hover{
    color: rgb (200, 30, 30);
}


.fa-refresh{
  color: rgb(22,100,100);
  text-decoration: none;
  font-size: 3em;
}


.fa-refresh:hover{
    color: rgb (200, 30, 30);
    transform: rotate(90deg);
}


.fa-heart{
  color: rgb(22,100,100);
  text-decoration: none;
  font-size: 3em;
}


.fa-heart:hover{
    background-color: rgb (200, 30, 30);
    transform: translate(0 1em);
}


.fa-user-plus{
  color: rgb(22,100,100);
  text-decoration: none;
  font-size: 3em;
}
/*shirt size vertical align 4 sizes*/
.fa-user-plus:hover{
    background-color: rgb (200, 30, 30);
}

.fa-user-plus:hover ~ .hidden-shirt-size {
    opacity: 0.8;
    transform: translate(0, 1em);
    /*height: 6em;*/
  }



.fa-square{
  text-decoration: none;
  font-size: 3em;
}
  .fa-square:hover ~ .hidden-color {
  opacity: 0.8;
  border: 1px solid red;
  transform: translate(0, 1em);
  /*height: 6em;*/
  }



/*shirt color: popup 4 square colors*/
.fa-square:hover{
    color: rgb (200, 30, 30);
}

.fa-shopping-cart{
  color: rgb(200,200,10);
  text-decoration: none;
  font-size: 3em;
}
/*not linking to shopping cart, just rotating*/
.fa-shopping-cart:hover{
    color: rgb (200, 30, 230);
}
